# API
API_URL=/api
APP_BASE_URL=http://localhost:3000

# Sentry
NEXT_PUBLIC_SENTRY_DSN=

# Matomo
NEXT_PUBLIC_MATOMO_SITE_ID=
NEXT_PUBLIC_MATOMO_URL=

# DB
POSTGRES_SSL=false
DATABASE_URL=psql://user:password@server/database

# JWT
JWT_SECRET=TByQqGjC2wBfHt

# Login delay
LOGIN_DELAY_ATTEMPTS=3
LOGIN_DELAY_SECONDS=60

# Authentication (session/cookie/token) parameters in seconds
# Note : NEXT_PUBLIC_AUTH_REFRESH_START < NEXT_PUBLIC_AUTH_DURATION < NEXT_PUBLIC_AUTH_MAX_DURATION
NEXT_PUBLIC_AUTH_DURATION=1800
NEXT_PUBLIC_AUTH_REFRESH_START=1500
NEXT_PUBLIC_AUTH_MAX_DURATION=10800

# Documents path on the file system
DOCUMENTS_FS_PATH=./documents

# Mail
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=Medlé <noreply@sante.gouv.fr>
MAIL_CONTACT=contact-medle@sante.gouv.fr
NEXT_PUBLIC_MAIL_CONTACT=contact-medle@sante.gouv.fr

# Enable Summary update button
NEXT_PUBLIC_SUMMARY_RUN=false

# CRON
PILO_CRON=
SUMMARY_CRON=

# Debug
# NEXT_PUBLIC_DEBUG_MODE=false

# Test variables
# NEXT_PUBLIC_TEST_CURRENT_DATE=10/09/2019